.section-header{
    padding-top: 50px;
}
#header{
    background: rgba(6, 12, 34, 0.98);
    
}


.sponsor{
    margin-top: 100px;
    padding: 40px;
}
.question{

    font-weight: 1000;

   
}
p{
    
    font-weight: 500;
}